<mat-progress-bar *ngIf="loading"  mode="indeterminate"></mat-progress-bar>
<h2 mat-dialog-title>Add user</h2>
<mat-dialog-content class="dialog">
  Add user information
  <div class="name-fields">
    <mat-form-field>
      <mat-label>Firstname</mat-label>
      <input [disabled]="loading" matInput [(ngModel)]="user.firstName" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Last name</mat-label>
      <input [disabled]="loading" matInput [(ngModel)]="user.lastName"/>
    </mat-form-field>
  </div>
  <mat-form-field class="example-full-width">
    <mat-label>Choose a date</mat-label>
    <input [disabled]="loading" matInput [matDatepicker]="picker" [(ngModel)]="birthDate">
    <mat-datepicker-toggle matIconSuffix [for]="picker">
    </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>  
  <mat-form-field>
    <mat-label>Address</mat-label>
    <input [disabled]="loading" matInput [(ngModel)]="user.address"/>
  </mat-form-field>
  <div class="adress-fields">
    <mat-form-field>
      <mat-label>Zip code</mat-label>
      <input [disabled]="loading" matInput [(ngModel)]="user.zipCode"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>City</mat-label>
      <input [disabled]="loading" matInput [(ngModel)]="user.city"/>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button [disabled]="loading" mat-button mat-dialog-close>Cancel</button>
  <button [disabled]="loading" mat-button cdkFocusInitial (click)="saveUser()">Save</button>
</mat-dialog-actions>
