<mat-progress-bar *ngIf="loading"  mode="indeterminate"></mat-progress-bar>
<h2 mat-dialog-title>Edit user</h2>
<mat-dialog-content class="dialog">
    <div class="name-fields">
      <mat-form-field>
        <mat-label>Firstname</mat-label>
        <input [disabled]="loading" matInput [(ngModel)]="user.firstName" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last name</mat-label>
        <input [disabled]="loading" matInput [(ngModel)]="user.lastName"/>
      </mat-form-field>
    </div>
    <mat-form-field class="email">
      <mat-label>Email</mat-label>
      <input [disabled]="loading" matInput [(ngModel)]="user.email"/>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Birthdate</mat-label>
        <input [disabled]="loading" matInput [matDatepicker]="picker" [(ngModel)]="birthDate">
        <mat-datepicker-toggle matIconSuffix [for]="picker">
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field> 
  </mat-dialog-content>
  <mat-dialog-actions>
    <button [disabled]="loading" mat-button mat-dialog-close>Cancel</button>
    <button [disabled]="loading" mat-button cdkFocusInitial (click)="updateUser()">Save</button>
  </mat-dialog-actions>